<h1><%= @pokemon.name.capitalize %></h1>
<p><strong>Tipo:</strong> <%= @pokemon.pokemon_type.capitalize %></p>
<p><strong>Altura:</strong> <%= @pokemon.height / 10 %> m</p> <!-- Convertendo dm para m -->
<p><strong>Peso:</strong> <%= @pokemon.weight / 10 %> kg</p> <!-- Convertendo hg para kg -->
<p><strong>Habilidades:</strong> <%= @pokemon.abilities %></p>
<img src="<%= @pokemon.image_url %>" alt="<%= @pokemon.name.capitalize %>">

<h2>Informações do Ataque</h2>
<p><strong>Nome do Ataque:</strong> <%= @pokemon.name_attack || 'N/A' %></p>
<p><strong>Dano Base:</strong> <%= @pokemon.base_damage || 'N/A' %></p>
<p><strong>Tipo do Ataque:</strong> <%= @pokemon.attack_type || 'N/A' %></p>
<p><strong>Efeito do Ataque:</strong> <%= @pokemon.effect || 'N/A' %></p>

<p>
  <%= button_to 'Erase Pokémon', pokemon_path(@pokemon), method: :delete, class: 'btn btn-delete' %>
  <%= link_to 'Return', root_path, class: 'btn btn-return' %>
</p>


