<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pokedex" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const buttons = document.querySelectorAll("form[data-confirm]");

        buttons.forEach(button => {
          button.addEventListener("submit", function(event) {
            const message = button.getAttribute("data-confirm");
            if (!confirm(message)) {
              event.preventDefault();
            }
          });
        });
      });
    </script>
  </body>
</html>
